.customheader{
  margin-bottom: 20px;
}

.myheader{
  background-image: url(/img/singa.jpg);
  background-size: cover;
  box-shadow:inset 0 0 0 2000px rgba(30, 11, 202, 0.3);

}

.my-4{
  margin-top: 50px !important; 
  margin-bottom: 50px !important; 
}

.card{
  border: none;
}


.card-title{
  font-weight: 400 !important;
}